{% extends 'layout.html.twig' %}
{% block body %}
    <h1>The men, the legends, the developers</h1>
    <div class="container">
        <table>
            <tr>
                <th>Team Member</th>
                <th>Contribution</th>
            </tr>
            <tr>
                <td style="padding: 10px">Dave Cloete</td>
                <td style="padding: 10px"></td>
            </tr>
        </table> 
    </div>
{% endblock %}