<form>
    <div class="input-group input-group-sm">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" id="criteria-topic" placeholder="topic" aria-describedby="sizing-addon3">
        <br/>
    </div><br/>
    <div class="input-group input-group-sm">
        <span class="input-group-addon"><span class="glyphicon glyphicon-tags"></span></span>
        <input type="text" class="form-control" id="criteria-category" placeholder="categories" aria-describedby="sizing-addon3">
    </div><br/>
    <div class="btn-group pull-right" role="group" aria-label="...">
        <button type="button" class="btn btn-sm btn-default"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> </button>
        <button type="button" class="btn btn-sm btn-default"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {

      var dataUrl = '{{ dataUrl }}';
      $('#criteria-category').val('Data Post URL is: ' + dataUrl);

      // TODO : 
    });
</script>