<!-- Modal -->
<div class="modal fade" id="criteriaModal" tabindex="-1" role="dialog" aria-labelledby="criteriaModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Criteria</h4>
            </div>
            <div class="modal-body">

                <p id ="dataLoadingPlaceholder">Loading Data, please wait ...</p>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                    <input type="text" class="form-control" id="topicsPath" placeholder="categories" aria-describedby="sizing-addon3">
                </div>

                <div class="checkbox pull-right">
                    <label>
                        <input type="checkbox" id="topicsPathIsRelative"> Use Relative Path Mapping
                    </label>
                </div><br/><br/>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-tags"></span></span>
                    <select class="form-control" id="topicsDropdown" aria-describedby="sizing-addon3">
                    </select>
                </div><br/>

            </div>
            <div class="modal-footer">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button id="criteriaApply" type="button" class="btn btn-sm btn-default" title="Apply"> <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> </button>
                    <button id="criteriaReset" type="button" class="btn btn-sm btn-default" title="Reset"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
      $("#criteriaForm").hide();
      var dataUrl = "{{dataUrl}}";
      ConfigHandler.loadConfigData(dataUrl);

      $('#criteriaApply').click(function () {
        ConfigHandler.applyConfig(dataUrl);
      });
      $('#criteriaReset').click(function () {
        ConfigHandler.resetConfig();
      });

    });

    var ConfigHandler = {
      applyConfig: function (dataUrl) {
        var data = {
          topicsPath: $('#topicsPath').val(),
          topicsPathIsRelative: $('#topicsPathIsRelative').prop('checked'),
          defaultTopicId: $('#topicsDropdown').val()
        };

        $.ajax({
          url: dataUrl,
          type: "post",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify(data),
          success: function (data) {
            // Populate dropdown
            if (data.success == true) {
              location.reload();
            } else {
              alert("Cannot save topics: Please check server log for reason");
            }
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert("Cannot save topics: " + thrownError);
          },
          complete: function () {

          }
        });
      },
      resetConfig: function () {
        location.reload();
      },
      loadConfigData: function (dataUrl) {
        $.ajax({
          url: dataUrl,
          type: "GET",
          success: function (data) {
            $('#dataLoadingPlaceholder').html('');
            $('#topicsPathIsRelative').prop('checked', data.data.topicsPathIsRelative);
            $('#topicsPath').val(data.data.topicsPath);

            ConfigHandler.loadTopics(dataUrl + '/topics', data.data.defaultTopicId);

            $("#criteriaForm").show();
          },
          error: function (xhr, ajaxOptions, thrownError) {
            $('#dataLoadingPlaceholder').html("error: " + thrownError);
          },
          complete: function () {

          }
        });
      },
      loadTopics: function (dataUrl, defaultTopic) {
        $.ajax({
          url: dataUrl,
          type: "GET",
          success: function (data) {
            // Populate dropdown
            $.each(data, function (index, item) {
              //defaultTopic
              var option = $('<option>', {value: item.id})
                .html(item.name);
              if (item.id == defaultTopic) {
                option.attr('selected', 'selected');
              }
              $('#topicsDropdown').append(option);
            });
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert("Cannot load topics: " + thrownError);
          },
          complete: function () {

          }
        });
      }
    };
</script>